
    p{margin: 0;}
    p.no-data{
        text-align: center;
        border: 1px solid #ddd;
        background: #fff;
        padding: 100px;
        font-size: 30px;
    }
    a{cursor: pointer;}
    .fl{float: left}
    .fr{float: right}
    .left{
        width: 186px;
        float:left;
        background: #2f3438;
        margin-bottom: -99999px;
        padding-bottom: 99999px;
        ul{
            padding: 0;
            margin: 0;
            li{
                list-style: none;
                height:55px;
                line-height: 55px;
                color: #666a6d;
                text-align: center;
                font-size: 16px;
                border-bottom: 1px solid #292d30;
                box-sizing: border-box;
                &.cur{
                    background: #276ab0;
                    color: #eee;
                }
            }
        }
    }

    .right{
        padding-left:186px; 
        .info-bar{
            height: 55px;
            background: #f1f1f1;
            border-bottom: 1px solid #ddd;
            line-height: 55px;
            padding: 0 20px;
            .bread-crumb{
                float: left;
            }
            .switch-box{
                float: right;
                margin-right: 5%;
                .toggle{
                    margin: 13px 5px;
                }
            }
            .search-box{
                position: relative;
                display: inline-block;
                .icon{
                    width: 16px;
                    position: absolute;
                    right: 18px;
                    top: 18px;
                }
            }
            .search{
                margin: 0 10px;
                border: 0;
                background: #276ab0;
                height: 28px;
                border-radius: 14px;
                padding: 0 10px;
                color: #ddd;
                outline: 0;
                width: 120px;
                padding-right: 30px;
                &::-webkit-input-placeholder{
                    color: #ddd;
                }
            }
        }

        .content{
            padding: 30px 15px;
            overflow: hidden;
            .box{
                float: left;
                width: 48%;
                margin: 0 1% 25px;
                box-sizing: border-box;
                border: 1px solid #dfdfdf;
                background: #fff;
                header{
                    height: 52px;
                    line-height: 52px;
                    padding-left: 30px;
                    font-weight: bold;
                    font-size: 15px;
                    border-bottom: 1px solid;
                    color: #333;
                    .fr{
                        padding: 0 20px;
                    }
                    &.red{border-color:#f45d4c;}
                    &.green{border-color:#12b461;}
                    &.blue{border-color: #266bb0;}
                    &.pink{border-color: #7f75e6;}
                }
                .ctx{
                    height: 214px;
                    overflow: hidden;
                    position: relative;
                    .pic-box{
                        width: 35%;
                        padding: 70px 0;
                        box-sizing: border-box;
                        text-align: center;
                    }
                    .desc-box{
                        width: 65%;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        .title{
                            font-size: 16px;
                            line-height: 1.5;
                            margin-bottom: 8px;
                        }
                        .b{color:#266bb0;}
                        .info-list{
                            overflow: hidden;
                            .item{
                                float: left;
                                width: 100%;
                                line-height: 1.7;
                            }
                        }
                    }
                    .data-box{
                        overflow: hidden;
                        margin: 0 6%;
                        .row{
                            float:left;
                            width:33.33333%;
                            line-height: 1.8;
                            margin-bottom: 10px;
                            height: 25px;
                            overflow: hidden;
                            .number{
                                color: #266bb0;
                                margin: 0 10px;
                            }
                        }
                    }
                    .time{
                        font-size: 13px;
                        color: #999;
                        line-height: 2;
                        margin: 20px 6% 10px;
                    }

                }
            }
        }

        .pagination{
            text-align: center;
            margin-bottom: 50px;
            .btn{
                background: #36c2ff;
                color: #fff;
                display: inline-block;
                padding: 5px 20px;
                border-radius:30px;
                margin: 0 4px; 
                &.disabled{
                    background: #cacaca;
                    color: #9b9fa2;
                }
            }
            .page-input{
                background: #fff;
                height: 24px;
                padding: 0 10px;
                border-radius: 13px;
                width: 60px;
                text-align: center;
                outline: 0;
                border: 1px solid #36c2ff;
            }
        }
    }

.pop-bg{
    width: 100%;
    height:100%;
    z-index: 10;
    background: #000;
    opacity: .6;
    position: fixed;
    left:0;
    top:0;
}
.pop{
    position: fixed;
    width: 40%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    .header{
        height: 50px;
        background: #36c2ff;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        line-height: 50px;
        font-size: 16px;
        text-indent: 2em;
    }
    .close{
        margin-right: 1em;
        font-size: 1.4em;
    }
    .form{
        background: #fff;
        overflow: hidden;
        .row{
            overflow: hidden;
            line-height: 2;
            margin: 15px 0;
            label{
                float: left;
                width: 30%;
                text-align: right;
                height: 32px;
                line-height: 32px;
            }
            input{
                float: left;
                width: 50%;
                height: 30px;
                border-radius: 5px;
                border: 1px solid #ccc;
                outline: 0;
                padding: 0 6px;
            }
        }
    }
    .footer{
        padding-bottom: 10px;
        height:60px;
        line-height: 60px;
        background: #fff;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        text-align: center;
        .btn{
            padding: 8px 20px;
            color: #fff;
            background: #36c2ff;
            border-radius: 5px;
            margin: 5px;
        }
    }
}