p {
    margin: 0;
}

a {
    cursor: pointer;
}

p.no-data {
    text-align: center;
    border: 1px solid #ddd;
    background: #fff;
    padding: 80px;
    font-size: 26px;
    margin: 20px;
}

.fl {
    float: left
}

.fr {
    float: right
}

.right {
    padding-left: 186px;
    .info-bar {
        height: 55px;
        background: #f1f1f1;
        border-bottom: 1px solid #ddd;
        line-height: 55px;
        padding: 0 20px;
        .bread-crumb {
            .title {
                font-size: 18px;
                color: #276bb0;
            }
            .btn {
                width: 120px;
                height: 32px;
                text-align: center;
                color: #fff;
                line-height: 32px;
                font-size: 15px;
                background: #15aeef;
                border-radius: 5px;
                float: right;
                margin-top: 10px;
            }
        }
        .switch-box {
            float: right;
            margin-right: 5%;
            .toggle {
                margin: 13px 5px;
            }
        }
        .search-box {
            position: relative;
            display: inline-block;
            .icon {
                width: 16px;
                position: absolute;
                right: 18px;
                top: 18px;
            }
        }
        .search {
            margin: 0 10px;
            border: 0;
            background: #276ab0;
            height: 28px;
            border-radius: 14px;
            padding: 0 10px;
            color: #ddd;
            outline: 0;
            width: 120px;
            padding-right: 30px;
            &::-webkit-input-placeholder {
                color: #ddd;
            }
        }
    }
    .content {
        padding: 5px 15px 30px;
        .search-box {
            position: relative;
            float: left;
            margin-top: 7px;
            .icon {
                width: 16px;
                position: absolute;
                right: 18px;
                top: 7px;
            }
        }
        .search {
            margin: 0 10px;
            border: 0;
            background: #276ab0;
            height: 30px;
            border-radius: 14px;
            padding: 0 10px;
            color: #ddd;
            outline: 0;
            width: 130px;
            padding-right: 30px;
            &::-webkit-input-placeholder {
                color: #ddd;
            }
        }
    }
    .pagination {
        text-align: right;
        margin: 10px;
        .btn {
            background: #36c2ff;
            color: #fff;
            display: inline-block;
            padding: 5px 20px;
            border-radius: 30px;
            margin: 0 4px;
            cursor: pointer;
            &.disabled {
                background: #cacaca;
                color: #9b9fa2;
                cursor: default;
            }
        }
        .page-input {
            background: #fff;
            height: 24px;
            padding: 0 10px;
            border-radius: 13px;
            width: 60px;
            text-align: center;
            outline: 0;
            border: 1px solid #36c2ff;
        }
    }
}

.table {
    width: 96%;
    margin: 15px auto;
    td,
    th {
        font-size: 15px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-bottom: 1px solid #e1e1e1;
        background: #fff;
    }
    th {
        font-size: 15px;
        font-weight: normal;
        height: 40px;
        line-height: 40px;
        background: #d0e6f1;
        color: #004e6f;
        border-bottom: 0;
    }
    input {
        background: #fff;
        outline: 0;
        border: 1px solid #aaa;
        border-radius: 5px;
        height: 28px;
        line-height: 28px;
        padding: 0 8px;
        width: 160px;
        color: #555;
        font-size: 14px;
        text-align: center;
        box-shadow: inset 2px 2px 2px #eee;
    }
}

.bg {
    // display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    top: 0;
    left: 0;
    z-index: 998;
    &.show {
        display: block;
    }
}

.pop {
    position: fixed;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%,-50%);
    z-index: 999;
    background: #fff;
    border-radius: 10px;
    padding-bottom: 20px;
    min-width: 700px;
    &.show {
        display: block;
    }
    .p-header {
        font-size: 16px;
        font-weight: normal;
        line-height: 2;
        margin-bottom: 15px;
        padding: 10px 20px;
        background: #d0e6f1;
        color: #004e6f;
    }
    .close {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        font-size: 26px;
        line-height: 26px;
        color: #004d71;
        text-align: center;
        z-index: 1000;
        cursor: pointer;
    }
    img {
        // box-shadow: 2px 2px 2px #ccc;
        cursor: pointer;
    }
}

.form {
    overflow: hidden;
    font-size: 14px;
    color: #333;
    float: left;
    .row {
        overflow: hidden;
        margin: 15px;
        .select-box {
            select {
                width: 107px;
            }
        }
        p {
            height: 36px;
            line-height: 36px;
            font-size: 15px;
        }
        label {
            float: left;
            width: 120px;
            text-align: left;
            font-size: 15px;
            height: 36px;
            line-height: 36px;
            .cb {
                width: 20px;
                height: 24px;
                position: relative;
                top: 6px;
            }
        }
        input:not([type=checkbox]) {
            background: #fff;
            outline: 0;
            border: 1px solid #aaa;
            border-radius: 5px;
            height: 36px;
            line-height: 36px;
            padding: 0 8px;
            width: 440px;
            font-size: 15px;
            box-shadow: inset 2px 2px 2px #eee;
        }
        select {
            background: #fff;
            outline: 0;
            border: 1px solid #aaa;
            border-radius: 5px;
            height: 38px;
            line-height: 38px;
            width: 358px;
            font-size: 15px;
            box-shadow: inset 2px 2px 2px #eee;
        }
    }
    .box {
        overflow: hidden;
        label {
            font-size: 15px;
            min-width: 120px;
            width: auto;
        }
    }
}

.button {
    background: #15aeef;
    padding: 5px 20px;
    color: #fff;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    margin-right: 20px;
    float: right;
    margin-top: 10px;
    &.grey {
        background: #e3e3e3;
        color: #222;
    }
}