.container{
    margin: 15px;
    background: #f1f1f1;
}
header{
    overflow: hidden;
    background: #272b2e;
    min-width: 1250px;
}
.logo{
    width: 186px;
    height:85px;
    float:left;
    text-indent: -9999em;
    background: #e5e5e5 url('../../assets/image/logo.png') no-repeat 0 0;
}
.nav{
    float: left;
    margin-left: 15px;
    a{
        float: left;
        width: 112px;
        height: 70px;
        font-size: 15px;
        margin-right: 8px; 
        background: #276cb1;
        text-align: center;
        color: #fff;
        text-decoration: none;

        &.index{background:#276cb1 url('../../assets/image/nav1.png') no-repeat 0 0; }
        &.data{background: #12b461 url('../../assets/image/nav2.png') no-repeat 0 0;}
        &.warning{background: #f45d4c url('../../assets/image/nav3.png') no-repeat 0 0;}
        &.error{background: #ea7a18 url('../../assets/image/nav4.png') no-repeat 0 0;}
        &.dashboard{background: #7f75e6 url('../../assets/image/nav5.png') no-repeat 0 0;}
        &.bug{background: #4e5d70 url('../../assets/image/nav6.png') no-repeat 1px 0;}
        &.notice{background: #5caeea url('../../assets/image/nav_notice.png') no-repeat 0 0;}
        &.remote{background: #25b677 url('../../assets/image/nav_remote.png') no-repeat 0 0;}
        &.maint{background: #efb345 url('../../assets/image/nav_maint.png') no-repeat 0 0;}
        &.cur{
            height: 85px;
            font-size: 16px;
            .icon{
                margin-bottom: 16px;
            }
        }

    }
    .icon{
        display: block;
        width: 24px;
        height:24px;
        margin: 10px auto;
    }
}
.msg{
    float: right;
    box-sizing: border-box;
    border: 1px solid #f45d4c;
    padding: 0 10px;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    background: rgba(244, 93, 76, .5);
    &::-webkit-scrollbar{
        width: 6px;
        background:  rgba(17, 82, 143, 0.55);
    }
    &::-webkit-scrollbar-thumb{
        background:#f45d4c;
    }
    .item{
        color: #eee;
        font-size: 15px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 2;
        margin: 3px;
        text-align: right;
        img{
            position: relative;
            top: 4px;
            margin-right: 4px;
        }
    }
}
.setting{
    float:right;
    color: #fff;
    .avatar{
        width: 34px;
        height: 34px;
        border-radius: 50%;
        float: left;
        margin: 18px 8px;
    }
    .name{
        font-size: 16px;
        line-height: 70px;
        position: relative;
        border-right:1px solid #888;
        padding-right: 10px;
        
    }
    .power{
        float: right;
        margin: 26px 0;
        cursor: pointer;
        margin-left: 10px;
        img{
            width:20px;
        }
    }

    .super-entrance{
        text-decoration: none;
        float: left;
        font-size: 16px;
        position: relative;
        border-right: 1px solid #888;
        padding-right: 10px;
        margin-top: 26px;
        color: #3fa4ce;
    }
}
