<div class="user-manage">
  <div class="left">
    <div class="agency-list">

      <section *ngFor="let item of navList">
        <div [ngClass]="{'row-header':true,cur:item.current}" (click)="parentNavClick(item)">
          {{item.title}}
          <span *ngIf="!item.current" class="right-arrow"></span>
          <span *ngIf="item.current" class="down-arrow"></span>
        </div>
        <div [ngClass]="{'row-item':true,cur:secondItem.current}" *ngFor="let secondItem of item.children" [hidden]="!item.showChildren"
          [routerLink]="secondItem.link" routerLinkActive="cur">
          {{secondItem.title}}
        </div>
      </section>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
