<div class="user-manage">
  <div class="left">
    <div class="agency-list">

      <section>
        <div [ngClass]="{'row-header':true}">
          用户管理
          <span class="right-arrow"></span>
        </div>
        <div [ngClass]="{'row-item':true}">一级经销商</div>
        <div [ngClass]="{'row-item':true}">二级经销商</div>
        <div [ngClass]="{'row-item':true}">普通用户</div>
      </section>
      <section>
        <div [ngClass]="{'row-header':true}">
          权限管理
          <span class="right-arrow"></span>
        </div>
        <div [ngClass]="{'row-item':true}"  [routerLink]="['permission']" routerLinkActive="cur">权限管理</div>
        <div [ngClass]="{'row-item':true}">角色管理</div>
        <div [ngClass]="{'row-item':true}">权限组管理</div>
      </section>

    </div>
  </div>
  <router-outlet></router-outlet>
</div>