<div class="left">
  <loading *ngIf="loading"></loading>
  <div class="agency-list" (clickOutside)="initCurrentParentTab()" >
    <section *ngFor="let item of agencyList">
      <div [ngClass]="{'row-header':true,cur:item.current}" (click)="getLv2AgencyList(item)">
        {{item.efairyuser_nickname}}
        <span *ngIf="!item.current" class="right-arrow"></span>
        <span *ngIf="item.current" class="down-arrow"></span>
      </div>
      <div [ngClass]="{'row-item':true,cur:secondItem.current}" *ngFor="let secondItem of item.secondList" [hidden]="!item.showChildren"
        [routerLink]="[item.efairyuser_id+'/agency/'+secondItem.efairyuser_id]" routerLinkActive="cur">
        {{secondItem.efairyuser_nickname}}
      </div>
      <div class="row-item no-child" *ngIf="(!item.secondList||item.secondList.length==0)&&!item.loading" [hidden]="!item.showChildren">
          没有下级经销商
      </div>
      <loading *ngIf="item.loading"></loading>
    </section>
  </div>
</div>