p{margin: 0;}
p.no-data{
    text-align: center;
    border: 1px solid #ddd;
    background: #fff;
    padding: 80px;
    font-size: 26px;
}
.fl{float: left}
.fr{float: right}
.left{
    width: 186px;
    float:left;
    background: #2f3438;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    .agency-list{
        padding: 0;
        margin: 0;
        .row-header{
            user-select: none;
            cursor: pointer;
            height:55px;
            line-height: 55px;
            color: #666a6d;
            text-align: center;
            font-size: 16px;
            border-bottom: 1px solid #292d30;
            box-sizing: border-box;
            transition: all ease-in-out .2s;
            &.cur,&:hover{
                background: #276ab0;
                color: #eee;
            }
        }
        .right-arrow{
            display: inline-block;
            border: 2px solid #888;
            height: 10px;
            line-height: 12px;
            transform: rotate(45deg);
            width: 10px;
            box-sizing: border-box;
            border-left: 0;
            border-bottom: 0;
        }
        .down-arrow{
            display: inline-block;
            border: 2px solid #eee;
            height: 10px;
            line-height: 12px;
            transform: rotate(135deg);
            width: 10px;
            box-sizing: border-box;
            border-left: 0;
            border-bottom: 0;
            position: relative;
            left: 4px;
            top: -2px;
        }
        .row-item{
            user-select: none;
            outline: 0;
            height: 48px;
            line-height: 48px;
            color: #888;
            text-align: center;
            font-size: 15px;
            box-sizing: border-box;
            background: #272b2e;
            transition: all ease-in-out .2s;
            cursor: pointer;
            &.cur,&:hover{
                background: #f1f1f1;
                color: #276ab0;
            }
            &.no-child{
                cursor: default;
                &:hover{
                    background: #272b2e;
                    color: #888;
                }
            }
        }
    }

    .place-list{
        margin: 0;
        padding: 0;
        .close,.open{
            font-weight: normal;
            font-size: 14px;
            display: inline-block;
            width: 16px;
            height: 16px;
            line-height: 14px;
            text-align: center;
            border: 1px solid #aaa;
            color: #aaa;
            position: relative;
            top: -2px;
            margin-left: 15px;
        }
        .province{
            a{color: #999; }
            &>span{
                display:block;
                border-bottom: 1px solid #292d30;
                cursor: pointer;
                height: 55px;
                line-height: 55px;
                color: #999;
                font-size: 18px;
                box-sizing: border-box;
                transition: all ease-in-out .2s;
            }
        }
        .city{
            .close,.open{
                margin-left: 30px;
                color: #777;
                border-color: #777;
                width: 14px;
                height: 14px;
                line-height: 12px;
            }
            &>span{
                a{color: #666; }
                display: block;
                cursor: pointer;
                height: 46px;
                line-height: 46px;
                color: #666;
                background: #eee;
                border-bottom: 1px solid #ddd;
                font-size: 17px;
                box-sizing: border-box;
                transition: all ease-in-out .2s;
                
            }
        }    
        .district{
            .close,.open{
                margin-left: 50px;
            }
            a{color: #666; }
            span{
                display: block;
                cursor: pointer;
                height:38px;
                line-height: 38px;
                color: #666;
                background: #fff;
                font-size: 16px;
                box-sizing: border-box;
                transition: all ease-in-out .2s;
            }
        }
        .town{
            a{color: #888; }
            user-select: none;
            display:block;
            cursor: pointer;
            height:32px;
            line-height: 32px;
            padding-left: 75px;
            // text-indent: 6em;
            color: #888;
            background: #fff;
            font-size: 15px;
            box-sizing: border-box;
            transition: all ease-in-out .2s;
        }
    }
}