<div class="warning">

  <div class="left">
    <ul class="device-list">
      <li class="cur">设备一</li>
      <li>设备一</li>
      <li>设备一设备一</li>
      <li>设df备一</li>
      <li>设备a一</li>
      <li>设备一</li>
      <li>设备一a</li>
    </ul>
  </div>

  <div class="right">
    <div class="info-bar">
      <p class="bread-crumb">报警信息 > 全部</p>

      <div class="fr">
        报警：0 正常：1
        <div class="search-box">
          <input class="search" placeholder="设备ID或设备名称">
          <img src="../assets/image/search_w.png" class="icon">
        </div>
      </div>

      <div class="switch-box">
        <span class="fl">全部</span>
        <div class="fl toggle">
          <input class="tgl tgl-ios" id="cb2" type="checkbox">
          <label class="tgl-btn" for="cb2"></label>
        </div>
        <span class="fl">报警</span>
      </div>
    </div>
    <div class="content">

      <div class="box">
        <header class="red">
          基础信息
          <div class="fr" (click)="editDevice()">
            <img src="assets/image/pencil.png">
          </div>
        </header>
        <div class="ctx">
          <div class="fl pic-box">
            <img src="assets/image/device_online.png">
          </div>
          <div class="fr desc-box">
            <p class="title">设备名：<span class="b">设备300389</span></p>
            <div class="info-list">
              <label class="item">设备id：300323</label>
              <label class="item">设备类型：300323</label>
              <label class="item">物联网卡号：300323</label> <label class="item">物联网卡号：300323</label>
              <label class="item">安装日期：2013-09-09</label>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <header class="green">
          状态
          <div class="fr">
            <img src="assets/image/roll.png">
          </div>
        </header>
        <div class="ctx">
          <div class="fl pic-box">
            <img src="assets/image/wifi.png">
          </div>
          <div class="fr desc-box">
            <p class="title">报警状态：<span class="b">正常</span></p>
            <div class="info-list">
              <label class="item">设备通讯状态：离线</label>
              <label class="item">无线通讯状态：在线</label>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <header class="blue">
          数据
          <div class="fr">
            <img src="assets/image/clock.png">
          </div>
        </header>
        <div class="ctx">
          <p class="time">2017/06/01 11:19:36</p>
          <div class="data-box">
            <label class="row">电压A <span class="number">225.2V</span></label>
            <label class="row">电压A <span class="number">225.2V</span></label>
            <label class="row">电压A <span class="number">225.2V</span></label>
            <label class="row">电压A <span class="number">225.2V</span></label>
            <label class="row">电压A <span class="number">225.2V</span></label>
            <label class="row">电压A <span class="number">225.2V</span></label>
            <label class="row">电压A <span class="number">225.2V</span></label>
            <label class="row">电压A <span class="number">225.2V</span></label>
            <label class="row">电压A <span class="number">225.2V</span></label>
            <label class="row">电压A <span class="number">225.2V</span></label>
            <label class="row">电压A <span class="number">225.2V</span></label>
          </div>
        </div>
      </div>

      <div class="box">
        <header class="pink">
          一周警报
        </header>
        <div class="ctx">
          <div echarts [options]="option" theme="macarons" class="chart" style="height:214px;"></div>
        </div>
      </div>

    </div>

    <!-- <div class="pagination">
      共1页 / 1条数据 （当前第1页）
      <a class="btn disabled">上一页</a>
      <a class="btn">下一页</a> 前往
      <input placeholder="跳转到" class="page-input"> 页
      <a class="btn">GO</a>
    </div> -->

  </div>

  <div class="pop-bg" [hidden]="!isDeviceEditing"></div>
  <div class="pop" [hidden]="!isDeviceEditing">
    <div class="header">
      修改设备
      <span class="fr close" (click)="closePop()">&times;</span>
    </div>
    <div class="form">
      <div class="row">
        <label>设备名称：</label><input>
      </div>
      <div class="row">
        <label>设备名称：</label><input>
      </div>
      <div class="row">
        <label>设备名称：</label><input>
      </div>
      <div class="row">
        <label>设备名称：</label><input>
      </div>
      <div class="row">
        <label>设备名称：</label><input>
      </div>
      <div class="row">
        <label>设备名称：</label><input>
      </div>
      <div class="row">
        <label>设备名称：</label><input>
      </div>
    </div>
    <div class="footer">
        <a class="btn">确定修改</a>
        <a class="btn" (click)="closePop()">取消</a>
    </div>
  </div>


</div>