
@import 'assets/normalize.css';
/* You can add global styles to this file, and also import other style files */
body{font-family: 'microsoft yahei';background: #edeef2;font-size: 14px;color:#666;}
body{
    background: #272b2e;
    .content-wrap{
        padding: 15px 20px;
    }
}