<div class="right">
  <div class="info-bar">
    <p class="bread-crumb">
      <span class="title">编辑个人信息</span>
    </p>
  </div>
  <div class="content">
    <div class="tab-card">
      <section class="form">
        <div class="row">
          <label>上传头像</label>
          <div class="img-box">
            <div class="img-item">
              <!-- <b class="delete" (click)="deleteImg(item)">&times;</b> -->
              <div class="mask" [hidden]="!uploading">正在上传...</div>
              <img [src]="userInfo.efairyuser_headimg_url">
            </div>
            <div class="img-upload-box">
           
              <a id="img-upload" class="img-btn">+</a>
            </div>

          </div>
        </div>
        <div class="row">
          <label>用户昵称</label>
          <input type="text" [(ngModel)]="userInfo.efairyuser_nickname">
        </div>
        <div class="row">
          <label>单位名称</label>
          <input type="text" [(ngModel)]="userInfo.efairyuser_company">
        </div>


        <div class="row">
          <label>联系邮箱</label>
          <input type="text" [(ngModel)]="userInfo.efairyuser_email">
        </div>
        <div class="row">
          <label>单位地址</label>
          <input type="text" [(ngModel)]="userInfo.efairyuser_company_address">
        </div>
        <div class="row">
          <label>&nbsp;</label>
          <a class="button" (click)="editUserInfo()" >确定修改</a>
          <a class="button grey" (click)="goBack()">取消</a>
        </div>
      </section>

    </div>
  </div>
</div>
