
.dashboard{
    overflow: hidden;
    background: url('../../assets/image/dashboard_bg.png') repeat;
    .header{
        background: url('../../assets/image/dashboard_header.png') repeat;
        height: 60px;
        text-align: center;
        font-size: 27px;
        line-height: 60px;
        color: #34a8de;
        img{
            margin-right: 10px;
            position: relative;
            top: 3px;
        }
    }
    .ctx{
        padding: 15px;
        overflow: hidden;
        .fl{
            position: relative;
            .line{
                width: 40px;
                height:40px;
                border:1px solid #999;
                position: absolute;
                z-index: 999;
            }
            .left-line{
                left: 0;
                top: 0;
                border-bottom:0;
                border-right:0;
              
            }
            .right-line{
                right: 0;
                top: 0;
                border-bottom:0;
                border-left:0;
            }
            .top-line{
                left: 0;
                bottom: 0;
                border-top:0;
                border-right:0; 
              
            }
            .bottom-line{
                right: 0;
                bottom: 0;
                border-top:0;
                border-left:0; 
            }
        }
        .scale{
            position: absolute;
            right: 15px;
            top: 15px;
            z-index: 999;
        }
        .desc{
            position: absolute;
            right: 20px;
            bottom: 20px;
            z-index: 100;
            background: rgba(75, 87, 99, .9);
            border: 1px solid rgba(39, 219, 187, 1);
            color: #fff;
            padding: 10px 15px;;
            p{
                margin: 5px;
                text-align: center;
                line-height: 24px;
            }
            img{
                width: 24px;
                height: 24px;
                position: relative;
                top: 5px;
                margin-right: 8px;
            }
        }
    }

    .footer{
        overflow: hidden;
        clear: both;
        margin:0 15px 30px;
        display: flex;
        justify-content: space-between;
        .item{
            float: left;
            width: 32.5%;
            height: 340px;
            background: rgba(13, 16, 24, 0.8);
            border: 1px solid #555;
            padding: 10px;
            box-sizing: border-box;
            .title{
                margin: 0;
                line-height: 1.5;
                font-size: 18px;
            }
            .service-total{
                overflow: hidden;
                margin: 10px 0;
                float: right;
                p{
                    float: left;
                    margin: 8px 2px 0;
                    color: #aaa;
                    font-size: 15px;
                }
                span{
                    float: left;
                    margin-right: -2px;
                    margin-left: -1px;
                    width: 20px;
                    height: 25px;
                    background: url('../../assets/image/num_spr.png') no-repeat 0 0;
                    &.num2{ background-position:-20px 0; }
                    &.num3{ background-position:-40px 0; }
                    &.num4{ background-position:-60px 0; }
                    &.num5{ background-position:-80px 0; }
                    &.num6{ background-position:-100px 0; }
                    &.num7{ background-position:-120px 0; }
                    &.num8{ background-position:-140px 0; }
                    &.num9{ background-position:-160px 0; }
                    &.num0{ background-position:-180px 0; }
                }
            }
            .content{
                margin-top: 10px;
                padding: 0 20px;
                height: 265px;
                overflow: auto;
                .time{
                    font-size: 15px;
                    color: #eee;
                    margin: 7px 0;
                }
                .details{
                    font-size: 14px;
                    line-height: 18px;
                    padding-left: 15px;
                    color: #ccc;
                    margin-bottom: 20px;
                }
            }
            &.pink{
               .title{color: #6639a6;}
               .content{
                &::-webkit-scrollbar{
                    width: 8px;
                    background:rgba(75, 87, 99, .9);
                }
                &::-webkit-scrollbar-thumb{
                    background: #6639a6;
                }
               }
               border-bottom:4px solid #6639a6;
            }
            &.red{
               border-bottom:4px solid #3490de; 
               .title{color: #3490de;}
            }
            &.orange{
                border-bottom:4px solid #d78716;
                .title{color: #d78716;}
            }
        }
    }


    .fl{
        float:left;
    }
    .w50{
        width: 50%;
        box-sizing: border-box;
    }
    .map{
        height: 600px;
        border: 1px solid #222;
    }
    #b-map{
        clear: both;
        width: 100%;
    }
}