<div class="master">
  <div class="content-wrap">

    <div class="left">
      <div class="row grid3">
        <div class="item blue">
          <div class="header">
            <div class="l">个人信息</div>
          </div>
          <div class="ctx">
            <img src="https://0.gravatar.com/avatar/cd59176540d404323eb7ed64760db991?s=90&d=identicon&r=G" class="avatar">
            <div class="profile">
              {{userInfo.efairyuser_nickname}} 管理员<br>{{userInfo.efairyuser_company}}<br><br>{{time}}
            </div>
          </div>
        </div>
        <div class="item red">
          <div class="header">
            <div class="l">报警数据</div>
            <div class="r">3</div>
          </div>
          <div class="ctx">
            <ul class="info-list">
              <li>没有更多的数据</li>
              <li>没有更多的数据</li>
              <li>没有更多的数据</li>
              <li>没有更多的数据</li>
              <li>没有更多的数据</li>
              <li>没有更多的数据</li>
            </ul>
          </div>
        </div>
        <div class="item orange">
          <div class="header">
            <div class="l">设备故障</div>
            <div class="r">3</div>
          </div>
          <div class="ctx">
            <ul class="info-list">
              <li>没有更多的数据</li>
              <li>没有更多的数据</li>
              <li>没有更多的数据</li>
              <li>没有更多的数据</li>
              <li>没有更多的数据</li>
              <li>没有更多的数据</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row grid2">
        <div class="item">
          <div class="title">
            <img src="assets/image/file.png" class="map-icon">基础信息
          </div>
          <div class="box">
            <p>单位名称：天地会总舵</p>
            <p>单位名称：天地会总舵</p>
            <p>单位名称：天地会总舵</p>
            <p>单位名称：天地会总舵</p>
            <p>单位名称：天地会总舵</p>
            <p>单位名称：天地会总舵</p>
          </div>
        </div>
        <div class="item">
          <div class="title">
            <img src="assets/image/map.png" class="map-icon">地图
            <img src="assets/image/edit.png" class="right-icon">
          </div>
          <div class="box">

          </div>
        </div>

      </div>
      <div class="row grid1">
        <div class="item">
          <div class="title">
            <img src="assets/image/dash.png" class="map-icon">电气安全综合隐患指数top1
            <img src="assets/image/edit.png" class="right-icon">
          </div>
          <div class="box"></div>
        </div>
      </div>
    </div>


    <div class="right">
      <div class="row grid1">
        <div class="item">
          <div class="title">
            <img src="assets/image/dash.png" class="map-icon">最近10次告警
            <img src="assets/image/edit.png" class="right-icon">
          </div>
          <div class="box">
            <section class="block">
              <div class="time">
                  <span class="blue">06-02</span> 10:00
              </div>
              <div class="ctx">
                设备id：341242 <br> 设备名称：苹果机 <br> 设备类型：不知道 <br> 报警类型：报警 <br> 报警值：33
              </div>
            </section>
           
            <section class="block">
              <div class="time">
                <span class="blue">06-02</span> 10:00
              </div>
              <div class="ctx">
                设备id：341242 <br> 设备名称：苹果机 <br> 设备类型：不知道 <br> 报警类型：报警 <br> 报警值：33
              </div>
            </section>
            <section class="block">
              <div class="time">
                <span class="blue">06-02</span> 10:00
              </div>
              <div class="ctx">
                设备id：341242 <br> 设备名称：苹果机 <br> 设备类型：不知道 <br> 报警类型：报警 <br> 报警值：33
              </div>
            </section>
            <section class="block">
              <div class="time">
                <span class="blue">06-02</span> 10:00
              </div>
              <div class="ctx">
                设备id：341242 <br> 设备名称：苹果机 <br> 设备类型：不知道 <br> 报警类型：报警 <br> 报警值：33
              </div>
            </section>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>