ul{
    li{
        list-style: none;
    }
}
.content-wrap{
    overflow: hidden;
}
.left{
    width: 80%;
    overflow: hidden;
    float: left;
    .row{
        margin-bottom: 15px;
        overflow: hidden;
    }
    .item{
        float: left;
        font-size: 14px;
        color: #666;
        background: #fff;
        .header{color: #fff;}
        &.blue{
            // background: #46b5d3;
            .header{
                background: #3fa4ce;
            }
            border:1px solid #3fa4ce;
        }
        &.orange{
            // background: #f38a15;
            border:1px solid #f38a15;
            .header{
                background: #e78200;
            }
        }
        &.red{
            // background: #f35e4a;
            border:1px solid #dc5446;
            .header{
                background: #dc5446;
            }
            .ctx{
                .info-list{
                    &::-webkit-scrollbar{
                        width: 8px;
                        background: #f35e4a;
                    }
                    &::-webkit-scrollbar-thumb{
                        background: #dc5446;
                    }
                }
            }
        }
        .header{
            font-size: 16px;
            height: 50px;
            line-height: 50px;
            .l{
                margin-left: 20px;
                float: left;
            }
            .r{
                float: right;
                font-size: 19px;
                color: #fff;
                margin-right: 20px;
            }
        }
        .ctx{
            height: 150px;
            overflow: hidden;
            .profile{
                margin-top: 12px;
                float: left;
                margin-left: 12px;
                line-height: 1.5;
                font-size: 14px;
            }
            .info-list{
                margin: 0;
                padding: 10px 30px;
                box-sizing: border-box;
                height: 100%;
                overflow: auto;
                li{
                    line-height: 1.5;
                }
                &::-webkit-scrollbar{
                    width: 8px;
                    background: #f38a15;
                }
                &::-webkit-scrollbar-thumb{
                    background: #e78200;
                }
            }
        }
        .avatar{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            float: left;
            margin-left: 13%;
            margin-top: 20px;
        }
    }
    .grid3{
        .item{
            width: 32%;
            margin-right: 1.033333%;
            box-sizing: border-box;
        }
    }
    .grid2{
        
        .item{
            width: 48.5%;
            margin-right: 1.3333%;
            box-sizing: border-box;
            border: 1px solid #dfdfdf;
            .title{
                background: #fbfbfb;
                height: 52px;
                line-height: 52px;
                color: #666;
                border-bottom:1px solid #dfdfdf;
                padding: 0 20px;
                font-size: 15px;
            }
            .box{
                background: #fff;
                color: #666;
                padding: 20px;
                height: 244px;
                p{
                    margin: 0;
                    line-height: 2;
                }
            }
        }
    }


}
.grid1{
    .item{
        border:1px solid #dfdfdf;
        width: 98.0666667%;
        margin-right: 1.933333%;
        .title{
            background: #fbfbfb;
            height: 52px;
            line-height: 52px;
            color: #666;
            border-bottom:1px solid #dfdfdf;
            padding: 0 20px;
            font-size: 16px;
        }
        .box{
            background: #fff;
            color: #666;
            padding: 10px 10px 10px 0;
            height: 244px;
            p{
                margin: 0;
                line-height: 2;
            }
        }
    }
}

.right{
    width: 20%;
    float: right;
    .grid1{
        .item{
            width: 100%;
            .box{
                min-height:779px;
                height:auto;
                height: 780px;
                overflow: auto;
            }
        }
    }

    .block{
        position: relative;
        border-left: 1px solid #a7a7a7;
        padding-left: 20px;
        padding-top: 70px;
        margin-left: 40px;
        padding-bottom: 10px;
        line-height: 1.5;
        color: #666;
        .time{
            position: absolute;
            width: 60px;
            height: 60px;
            border: 1px solid #a7a7a7;
            border-radius: 50%;
            top: 0;
            left: -30px;
            background: #fff;
            text-align: center;
            box-sizing: border-box;
            padding-top: 10px;
            .blue{
                color: #266bb0;
                font-weight: bold;
            }
        }
        .ctx{

        }
    }
}

.map-icon{
    margin: 0px 10px 0 0;
    position: relative;
    top: 1px;
}

.right-icon{
    float:right;
    margin-top: 18px;
}