<div class="master">
  <div class="content-wrap">

    <div class="left">
      <div class="row grid3">
        <div class="item blue">
          <div class="header">
            <div class="l">个人信息</div>
          </div>
          <div class="ctx">
            <img [src]="userInfo.efairyuser_headimg_url" class="avatar">
            <div class="profile">
              {{userInfo.efairyuser_nickname}} {{userLevelLabel}}
              <br>{{userInfo.efairyuser_company}}
              <br>
              <br>{{time}}
            </div>
          </div>
        </div>
        <div class="item red">
          <div class="header">
            <div class="l">报警数据</div>
            <div class="r">{{projectAlarmTotal}}</div>
          </div>
          <div class="ctx">
            <loading *ngIf="projectAlarmListLoading"></loading>
            <div *ngIf="!projectAlarmList||projectAlarmList.length==0" class="no-data-placeholder">暂无数据</div>
            <ul class="info-list" *ngIf="projectAlarmList&&projectAlarmList.length>0">
              <li *ngFor="let item of projectAlarmList">
                <span class="name">{{item.efairydevice_name}}</span>
                <span class="type">{{item.state}}</span>
                <span class="rtv">{{item.efairydevice_alarm_rtv}}</span>
                <span class="time">{{item.efairydevice_alarm_time}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="item orange">
          <div class="header">
            <div class="l">设备统计</div>
            <div class="r">{{totalDevice}}</div>
          </div>
          <div class="ctx">
            <div class="charts-item">
              <div class="info">
                离线设备：{{offDevice}}
                <br>在线设备：{{onlineDevice}}
              </div>
              <div echarts [options]="leftChartOption" theme="vintage" class="chart" style="height:100%;" *ngIf="leftChartOption"></div>
              <div *ngIf="!leftChartOption" class="no-data-placeholder">暂无数据</div>
            </div>
            <div class="charts-item">
              <div echarts [options]="rightChartOption" theme="vintage" class="chart" style="height:100%;" *ngIf="rightChartOption"></div>
              <div *ngIf="!rightChartOption" class="no-data-placeholder">暂无数据</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row grid2">
        <div class="item">
          <div class="title">
            <img src="assets/image/file.png" class="map-icon">基础信息
            <a [routerLink]="['../personal']">
              <img src="assets/image/roll.png" class="right-icon">
            </a>
          </div>
          <loading *ngIf="userCenterLoading"></loading>
          <div class="box">
            <div *ngIf="!userCenterLoading">
              <p>单位名称：{{userCenter.efairyuser_company}}</p>
              <p>负责人：{{userCenter.efairyuser_nickname}}</p>
              <p>单位地址：{{userCenter.efairyuser_company_address}}</p>
              <p>联系电话：{{userCenter.efairyuser_phonenumber}}</p>
              <p>联系邮箱：{{userCenter.efairyuser_email}}</p>
              <p>设备供应商：{{userCenter.efairyuser_device_supplier}}</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="title">
            <img src="assets/image/map.png" class="map-icon">地图
            <a [routerLink]="['/dashboard']">
              <img src="assets/image/scale.png" class="right-icon">
            </a>


          </div>
          <div id="m-map"></div>
        </div>

      </div>
      <div class="row grid1">
        <div class="item">
          <div class="title">
            <img src="assets/image/dash.png" class="map-icon">电气安全综合隐患top1
            <!-- <img src="assets/image/edit.png" class="right-icon"> -->
          </div>
          <div echarts [options]="bottomChartOption" theme="macarons" class="chart" style="height:263px;" *ngIf="bottomChartOption"></div>
          <div style="height:263px;" *ngIf="!bottomChartOption">
            <div class="no-data-placeholder">暂无数据</div>
          </div>

        </div>
      </div>
    </div>


    <div class="right">
      <div class="row grid1">
        <div class="item">
          <div class="title">
            <img src="assets/image/dash.png" class="map-icon">最近10次严重报警
            <!-- <img src="assets/image/edit.png" class="right-icon"> -->
          </div>
          <div class="box">
            <loading *ngIf="deviceAlarmDataLoading"></loading>
            <section class="block" *ngFor="let item of deviceAlarmData">
              <div class="time">
                <span class="blue">{{item.blueTime}}</span> {{item.spanTime}}
              </div>
              <!-- <a class="more-info">
                查看详情
              </a> -->
              <div class="ctx">
                设备id：{{item.efairydevice_uuid}}
                <br> 设备名称：{{item.efairydevice_name}}
                <br> 报警类型：{{item.ss}}报警
                <br> 报警值：{{item.efairydevicefiredata_rtv_v}}
                <br> 阀值：{{item.efairydevicefiredata_thv_v}}
              </div>
            </section>



          </div>
        </div>
      </div>
    </div>

  </div>
</div>